body {
  background-color: #ffa60034;
}
.top-bar {
  height: 10vh;
  display: flex;
  border: 1px solid black;
}
.main-title {
  margin-top: 5%;
  text-align: center;
  font-size: 46px;
}
.cardContainer {
  position: relative;
  background-color: #ffb83334;
  border-radius: 5px;
  width: 350px;
  height: 300px;
  margin: 25px 20px 25px;
}
.titleContainer {
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
#title {
  font-size: 30px;
  text-align: center;
  overflow-wrap: anywhere;
}
#author {
  margin-top: 20px;
  margin-right: 10px;
  text-align: right;
  font-size: 20px;
}
#pages {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
.cardBtn {
  display: block;
  position: absolute;
  left: 30%;
  top: 75%;
  color: white;
  border: 0;
  padding: 0;
  line-height: 15px;
  border-radius: 5px;
  width: 45%;
  height: 30px;
  text-align: center;
  font-weight: 1000;
}
#submitBtn {
  width: 100%;
}
#clearBtn {
  width: 100%;
}
#isReadBtn {
  font-size: 13px;
  background-color: rgb(85, 110, 80);
  color: white;
}
#isReadBtn:hover {
  color: black;
}
#isNotReadBtn {
  font-size: 13px;
  background-color: rgb(94, 80, 63);
  color: white;
}
#isNotReadBtn:hover {
  color: black;
}
#removeBtn {
  font-size: 13px;
  background-color: rgb(161, 84, 84);
  top: 88%;
}
#library-grid {
  display: grid;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  margin-right: auto;
  grid-template-columns: 1fr 1fr 1fr;
}
#haveRead {
  display: block;
  width: 70%;
}
.standardButton {
  display: inline-block;
  width: 120px;
}
.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 15%;
  height: fit-content;
  border-radius: 0.5rem;
}
.formTitle {
  margin-left: 20px;
  margin-bottom: 30px;
}
.modal-content > form {
  margin-left: 20px;
  margin-right: 20px;
}
input[type="text"] {
  width: 100%;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.numberInput {
  width: 70%;
}
p {
  margin-bottom: 0;
}

/* add button */
.add-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 350px;
  height: 300px;
  margin: 25px 20px 25px;
  margin-bottom: 25px;
  transform: scale(0.6);
  transition-duration: 1s;
  animation: appear 0.5s ease-in-out;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.add-button-disable-hover {
  pointer-events: none;
  opacity: 0;
}
.add-button .plus {
  display: inline-block;
  align-self: center;
  font-size: 260px;
  transition-duration: 1s;
}
.add-button:hover {
  transform: scale(1);
  cursor: pointer;
  background-color: rgba(25, 88, 56, 0.5);
}
.add-button:hover .plus {
  transform: rotate(90deg) scale(1);
  color: white;
}
select:focus {
  border-color: #000000;
  outline: 0;
}
input:focus {
  border: 1px solid #000000;
  outline: 0;
}
input:not(:focus):valid {
  border: 1px solid rgba(51, 121, 51, 0.747);
  outline: 0;
}
input:not(:focus):invalid {
  border-color: gray;
  outline: 0;
}
input:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid rgba(211, 43, 43, 0.76);
  outline: 0;
}
